body {
    background-color: rgba(248, 235, 50,.9);
    background-image: url(2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.a{
    color: brown;
 
  
}
.b{
    color: blueviolet; 
   font-weight: bold;
}
#c{
    font-size: 70px;
    font-family: cursive;
}
.l{
    text-align: right;
    color: blueviolet; 
   font-weight: bold;
}